@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f0ed;
}

a {
    text-decoration: none;
    color: #1a1a1a;
        height: 100px;
        padding: 40px;
            transition: color 0.4s;
font-family: "Libre Bodoni", serif;
}

.header {
        background-color: white;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
    font-size: 50px;
}

.logo img {
    height: 50px;
    width: 200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 50px;
}

.nav a:hover {
    color: #f01c1f;
}


.search-container {
    position: relative;
  width: 200px;
}

.search-container input {
  width: 100%;
  padding: 10px 40px 10px 16px;
  border-radius: 30px;
    border: 1px solid #e5e5e5;
}

.search-container span {
    position: absolute;
  right: 14px;
  top: 10px;
}

.buttons {
    display: flex;
    padding: 70px;
    gap: 20px;
}

.btn-trial {
    background-color: #e91e63;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-family: "Libre Bodoni", serif;
                transition: color 0.4s;
                cursor: pointer;
}

.btn-trial:hover {
    color: rgb(110, 110, 110);              
}

.btn-free{
    color: rgb(89, 89, 89);
      padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  font-size: 15px;
  font-family: "Libre Bodoni", serif;
              transition: color 0.4s;
              cursor: pointer;
}

.btn-free:hover {
    color: rgb(0, 0, 0);              
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9EFE3;
height: 100vh;    
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {

    width: 90%;
    height: auto;
box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.hero-content {
    text-align: center;
    margin-right: 5%;
}


.hero-content h1 {
    font-size: 60px;
    color: #e91e63;
    margin-bottom: 50px;
  font-family: "Titan One", sans-serif;
}

.hero-content p {
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
    font-family: "Libre Bodoni", serif;

}

.hero-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: white;
    color: #e91e63;
    padding: 14px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Libre Bodoni", serif;
}

.btn-secondary {
    background-color: #e91e63;
    color: white;
    padding: 14px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Libre Bodoni", serif;
}

.products-section {
    background: #f6f6f6;
width: 99vw;
min-height: 70vh;
 display: flex;
    justify-content: center; 
    align-items: center; 
}

.cards {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.card {
    background: #fff;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.35s ease;    
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    height: 250px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
  font-family: "Courgette", cursive;
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
}

.card-content p {
    font-size: 15px;
    color: #777;
    margin-bottom: 20px;
    font-family: "Libre Bodoni", serif;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #e63963;
    font-size: 20px;
}

.cart-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #e63963;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.cart-btn:hover {
    background: #c92d54;
}

.features-section {
  width: 99vw;
  min-height: 70vh;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-cards {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.feature-card {
  width: 350px;
  padding: 100px 50px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: 2px solid rgba(230, 57, 99, 0.25);
  transition: 0.35s ease;
  cursor: pointer;
}

.feature-card:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.feature-card .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-card .icon i {
  font-size: 35px;
  color: #000000;
}

.feature-card h3 {
      font-family: "Courgette", cursive;
  font-size: 20px;
  margin-bottom: 15px;
  color: #111;
}

.feature-card p {
        font-family: "Libre Bodoni", serif;
  font-size: 15px;
  color: #666;
}


.subscribe {
    background: #fdeee4;
    text-align: center;
    padding: 50px 20px;
}

.subscribe p {
    color: #f24c74;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  font-family: "Courgette", cursive;

}

.subscribe-box {
    display: flex;
    justify-content: center;
}

.subscribe-box input {
    padding: 12px;
    width: 280px;
    border: none;
    outline: none;
    border-radius: 6px 0 0 6px;
}

.subscribe-box button {
    padding: 12px 25px;
    border: none;
    background: #f24c74;
    color: #fff;
    font-weight: bold;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.footer {
    background: #fdeee4;
    padding: 60px 80px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {
    flex: 1;
      font-family: "Courgette", cursive;

}

.logo {
    color: #f24c74;
    font-size: 26px;
    margin-bottom: 15px;
}

.footer-col p {
    color: #555;
    line-height: 1.6;
}

.footer-col h3 {
    color: #f24c74;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    color: #555;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social i {
    background: #ff5e81;
    text-align: center;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 30px; 
}

.copyright {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #777;
    border-top: 1px solid #f3cfc0;
    padding-top: 15px;
}